.App {
  background-color: #f6f6f6;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

section {
  background-color: #fff;
  margin: 10px 0px;
  padding: 20px 20px 15px 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 2px #e0dfdf;
}

.App-dictionary {
  border: 1px solid #f6f6f6;
  border-radius: 10px;
}

.App-footer {
  font-size: 8pt;
  margin: 10px;
}

.App-image {
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
